 <% if user_signed_in? %>

<h1> All the Pins  </h1> 

 <% else %>

<div class="jumbotron">

<h1> Welcome to Pykaso </h1>


<p> Here is my 

<%= link_to "Linkedin Profile ", "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" %>
</p>

<p>
	
	<%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-success btn-lg" %>
</p>

</div> 
<% end %>