<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
<h1> About me </h1>
<p>               </p> 
<img src="/images/Hrishi_at_payoff.jpg" alt="rss feed" />

<p>               </p> 
<p> I am a Software QA professional in Greater Los Angeles area. I have a Masters in Software Engineering and currently  work at Payoff.com </p>

<p> Here is my linkedin profile 

<%= link_to "Click here", "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" %>
</p>
</div>

</body>
</html>