<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
<div class="jumbotron">	
<h2> About me </h2>
<p>               </p> 
<img src="/images/Hrishi_at_payoff.jpg" alt="rss feed" />

<p>        </p>
<p> I am a Software QA professional in Greater Los Angeles area. I have a Masters in Software Engineering and currently  work at Payoff.com </p>

<p> My 

<%= link_to "Linkedin Profile", "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" %>
</p>
<p> In this rails project I used </p> 
<p>        </p> 
 <p><h4> 	        Rails  4.1.0 </h4></p> 
  <p><h4> 	      Bootstrap 3 </h4>... make that page responsive </p>   
   <p><h4>         Devise </h4>  ... a flexible authentication solution for Rails.</p>   
    <p>    <h4>     simple_form </h4>... forms made easy for Rails.</p>  
     <p>     <h4>   paperclip </h4>... an easy file attachment management for ActiveRecord.</p>  
    <p>      <h4>   aws-sdk-v1 </h4>...amazon web services for hosting uploaded images.</p>  
     <p>    <h4>    will_paginate-bootstrap </h4>... for pagination.              </p> 

 <p>        </p>         

</div>
</div>

</body>
</html>