


<h1> Welcome to Sweet Lulu & Akdu Teddy's website </h1>


<p> Here is my linkedin profile 

<%= link_to "Click here", "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" %>
</p>

<p>
	
	<%= link_to "Sign up Now!", "#" %>
</p>

<div class="footer">
	<small>
		by Hrishikesh kadam
	</small>
</div>